<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-5 mx-auto text-light custom-font">
      <h1><%= t('.title') %></h1>

      <%= form_with(url: diagnostics_path, method: 'post') do |form| %>
        <% @questions.each do |question| %>
          <div class="mb-3 question_box">
            <p><strong><%= question.id %>  . <%= question.title %></strong></p>

            <div class="form-check form-check-inline">
              <%= form.radio_button "answers[#{question.id}]", true, class: "form-check-input" %>
              <%= form.label "answers[#{question.id}]", "Yes", class: "form-check-label mb-3" %>
            </div>

            <div class="form-check form-check-inline">
              <%= form.radio_button "answers[#{question.id}]", false, class: "form-check-input" %>
              <%= form.label "answers[#{question.id}]", "No", class: "form-check-label" %>
            </div>
          </div>
        <% end %>

        <%= form.submit t('helpers.submit.result'), id: "question_submit", class: "btn btn-light text-secondary mb-3" %>
      <% end %>
    </div>
  </div>
</div>

<!-- JavaScriptの直接埋め込み -->
<script>
  document.addEventListener("turbo:load", function() {
    var questions = document.querySelectorAll('.question_box');
    for (var i = 1; i < questions.length; i++) {
      questions[i].style.display = 'none';
    }
    
    var submit_button = document.getElementById("question_submit");
    submit_button.style.display = 'none';

    document.querySelectorAll('input[type="radio"]').forEach(function(radio) {
      radio.addEventListener('change', function() {
        var currentQuestion = this.closest('.question_box');
        var nextQuestion = currentQuestion.nextElementSibling;

        if (nextQuestion) {
          currentQuestion.style.display = 'none';
          nextQuestion.style.display = 'block';
        }

        // チェックボックスが全て選択された場合にsubmit_buttonを表示
        var allRadioButtons = document.querySelectorAll('input[type="radio"]');
        var allRadioChecked = true;
        allRadioButtons.forEach(function(radio) {
          if (!radio.checked) {
            allRadioChecked = false;
          }
        });

        if (allRadioChecked) {
          submit_button.style.display = 'block';
        }
      });
    });
  });
</script>
