<% content_for(:title, t('.title')) %>
<div class="container-fluid bg-<%= current_user&.fatigue_type&.color %>">
  <div class="d-flex justify-content-center align-items-center">
    <img src="<%= image_path('aroma_top.png') %>" alt="Your Image" class="img-fluid">
  </div>

  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto custom-font text-secondary">
      <h1><%= t('.title') %></h1>

      <div class="mb-3">
        <% if current_user && current_user.fatigue_type.present? %>
          <h2>あなたは<strong><%= current_user.fatigue_type.name %></strong>で疲れているようです。</h2>
          <div class="mb-3">
            <strong><%= current_user.fatigue_type.description %></strong>
          </div>

          <div class="mb-3">
            <h2>おすすめの漫画一覧</h2>
            <ul>
              <% @mangas.each do |manga| %>
                <li><strong><%= manga.title %></strong><%= render 'shared/like_button', manga: manga %></li>
              <% end %>
            </ul>

            <h2>おすすめのアロマ</h2>
            <ul>
              <% @aromas.each do |aroma| %>
                <li><strong><%= aroma.name %></strong></li>
              <% end %>
            </ul>
          </div>
        <% else %>
          <strong>疲労タイプが見つかりませんでした。</strong>
        <% end %>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center align-items-center">
  <!-- X -->
  <a href="https://twitter.com/share?url=<%= @user_result_url %>&text=<%= @user_result_title %>&hashtags=診断結果&tw_p=tweetbutton" target="_blank" class="ms-2">
    <img src="<%= image_path('x.png') %>" alt="X Image" class="img-fluid">
  </a>

  <!-- Facebook -->
  <a href="https://www.facebook.com/share.php?u=<%= @user_result_url %>&t=<%= @user_result_title %>" target="_blank" class="ms-2">
    <img src="<%= image_path('facebook.png') %>" alt="Facebook Image" class="img-fluid">
  </a>

  <!-- Line -->
  <a href="https://social-plugins.line.me/lineit/share?url=<%= @user_result_url %>&text=<%= @user_result_title %>" class="ms-2">
    <img src="<%= image_path('line.png') %>" alt="Line Image" class="img-fluid">
  </a>
</div>


  <div class="d-flex justify-content-center align-items-center">
    <img src="<%= image_path('aroma_bottom.png') %>" alt="Your Image" class="img-fluid">
  </div>
</div>
