<% def ranking_icon(position) %>
  <% case position %>
    <% when 1 %>
      <%= content_tag(:div, image_tag("gold_icon.png", class: "ranking-icon"), class: "ranking-icon-container") %>
    <% when 2 %>
      <%= content_tag(:div, image_tag("silver_icon.png", class: "ranking-icon"), class: "ranking-icon-container") %>
    <% when 3 %>
      <%= content_tag(:div, image_tag("bronze_icon.png", class: "ranking-icon"), class: "ranking-icon-container") %>
    <% else %>
      <%= position %>
  <% end %>
<% end %>

<% content_for(:title, t('.title')) %>

<div class="container">
  <div class="position-relative text-center">
    <img src="<%= image_path('ranking.png') %>" alt="Your Image" class="img-fluid">
    
    <div class="position-absolute top-50 start-50 translate-middle text-center">
      <div class="row">
        <div class="col-12 col-md-10 col-lg-12 mx-auto custom-font text-secondary">
          <h1 class="text-nowrap text-center"><%= t('.title') %></h1>
          
          <!-- Ranking List -->
          <!-- ランキングリスト -->
          <div class="card">
            <div class="card-body">
              <% @ranking.each_with_index do |manga, index| %>
                <%= ranking_icon(index + 1) %> 
                <h5 class="card-title mt-3 mb-3"><%= manga.title %><%= render 'shared/like_button', manga: manga %></h5>
                <% if manga.thumbnail.present? %>
                  <div class="thumbnail-container mb-3">
                    <%= image_tag(manga.thumbnail) %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>