<div class="container pt-3 text-light custom-font">
  <div class="row justify-content-center">
    <div class="col-10 col-lg-6"> <!-- Adjusted column size for better layout -->
      <h1><%= t('.title') %></h1>
      <%= form_for @q, url: reviews_path do |f| %>
        <div class="input-group mb-3">
          <div data-controller="autocomplete" data-autocomplete-url-value="/reviews/search" role="combobox">
            <%= f.search_field :title_cont, data: { autocomplete_target: 'input' }, class: "form-control", placeholder: "漫画タイトルを入力してください" %>
            <%= f.hidden_field :title, data: { autocomplete_target: 'hidden' } %>
          </div>
          <div class="input-group-append">
            <%= f.submit "検索", class: "btn btn-light text-secondary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


  <!-- レビュー一覧 -->
  <div class="row justify-content-center">
    <div class="col-10 col-lg-4 offset-lg-1">
      <div class="row">
        <% if @reviews.present? %>
          <%= render @reviews %>
        <% else %>
          <div class="mb-3">レビューがありません</div>
        <% end %>
      </div>
    </div>
  </div>
</div>