<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 col-lg-4 offset-lg-2 text-light custom-font mx-auto">
      <h1><%= t('.title') %></h1>
      <%= form_with model: @review, url: reviews_path, class: "new_review" do |f| %>
        <div class="mb-3">
        <%= f.label :manga_id, '漫画タイトルを選択してください' %>
        <%= f.select :manga_id, options_for_select(Manga.pluck(:title, :id)) %>
        </div>
        <div class="mb-3">
          <%= f.label :body %>
          <%= f.text_area :body, class: "form-control", rows: "10", style: "height: 200px" %>
        </div>
        <%= f.submit nil, class: "btn btn-light text-secondary" %>
      <% end %>
    </div>
  </div>
</div>